<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kgc.mapper.TimetableMapper" >
  <resultMap id="BaseResultMap" type="com.kgc.pojo.Timetable" >
    <id column="tid" property="tid" jdbcType="INTEGER" />
    <result column="gid" property="gid" jdbcType="INTEGER" />
    <result column="tsignindate" property="tsignindate" jdbcType="TIMESTAMP" />
    <result column="tsignoutdate" property="tsignoutdate" jdbcType="TIMESTAMP" />
    <result column="rest" property="rest" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    tid, gid, tsignindate, tsignoutdate, rest
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.kgc.pojo.TimetableExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from timetable
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from timetable
    where tid = #{tid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from timetable
    where tid = #{tid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.kgc.pojo.TimetableExample" >
    delete from timetable
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kgc.pojo.Timetable" >
    insert into timetable (tid, gid, tsignindate, 
      tsignoutdate, rest)
    values (#{tid,jdbcType=INTEGER}, #{gid,jdbcType=INTEGER}, #{tsignindate,jdbcType=TIMESTAMP}, 
      #{tsignoutdate,jdbcType=TIMESTAMP}, #{rest,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.kgc.pojo.Timetable" >
    insert into timetable
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tid != null" >
        tid,
      </if>
      <if test="gid != null" >
        gid,
      </if>
      <if test="tsignindate != null" >
        tsignindate,
      </if>
      <if test="tsignoutdate != null" >
        tsignoutdate,
      </if>
      <if test="rest != null" >
        rest,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tid != null" >
        #{tid,jdbcType=INTEGER},
      </if>
      <if test="gid != null" >
        #{gid,jdbcType=INTEGER},
      </if>
      <if test="tsignindate != null" >
        #{tsignindate,jdbcType=TIMESTAMP},
      </if>
      <if test="tsignoutdate != null" >
        #{tsignoutdate,jdbcType=TIMESTAMP},
      </if>
      <if test="rest != null" >
        #{rest,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kgc.pojo.TimetableExample" resultType="java.lang.Integer" >
    select count(*) from timetable
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update timetable
    <set >
      <if test="record.tid != null" >
        tid = #{record.tid,jdbcType=INTEGER},
      </if>
      <if test="record.gid != null" >
        gid = #{record.gid,jdbcType=INTEGER},
      </if>
      <if test="record.tsignindate != null" >
        tsignindate = #{record.tsignindate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.tsignoutdate != null" >
        tsignoutdate = #{record.tsignoutdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.rest != null" >
        rest = #{record.rest,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update timetable
    set tid = #{record.tid,jdbcType=INTEGER},
      gid = #{record.gid,jdbcType=INTEGER},
      tsignindate = #{record.tsignindate,jdbcType=TIMESTAMP},
      tsignoutdate = #{record.tsignoutdate,jdbcType=TIMESTAMP},
      rest = #{record.rest,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kgc.pojo.Timetable" >
    update timetable
    <set >
      <if test="gid != null" >
        gid = #{gid,jdbcType=INTEGER},
      </if>
      <if test="tsignindate != null" >
        tsignindate = #{tsignindate,jdbcType=TIMESTAMP},
      </if>
      <if test="tsignoutdate != null" >
        tsignoutdate = #{tsignoutdate,jdbcType=TIMESTAMP},
      </if>
      <if test="rest != null" >
        rest = #{rest,jdbcType=VARCHAR},
      </if>
    </set>
    where tid = #{tid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kgc.pojo.Timetable" >
    update timetable
    set gid = #{gid,jdbcType=INTEGER},
      tsignindate = #{tsignindate,jdbcType=TIMESTAMP},
      tsignoutdate = #{tsignoutdate,jdbcType=TIMESTAMP},
      rest = #{rest,jdbcType=VARCHAR}
    where tid = #{tid,jdbcType=INTEGER}
  </update>
</mapper>