<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/js/jquery-3.4.1.min.js"></script>
    <style>
        body {
            margin-left: auto;
            margin-right: auto;
            margin-top: 50PX;
            width: 40em;
        }

    </style>
</head>
<body>
<div align="center">
    <input type="file" id="fileUpload">
    <input type="button" onclick="upload()" value="上传">
    <div class="div"></div>
</div>
</body>
</html>
<script>
    function upload() {
        var formData = new FormData();
        formData.append("file", document.getElementById("fileUpload").files[0]);

        $.ajax(
            {
                url: "/lvUploadAction",
                type: "POST",
                data:formData,
                dataType:"json",
                async: false,
                contentType: false,
                processData: false,
                success: function (result) {

                    if (result.status=="succes"){
                        alert("成功")
                    }else{
                        alert("失败")
                    }

                },
                error: function () {
                    alert(1)
                }
            })
    }
</script>