<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes,minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/xadmin.css">
    <script src="/static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/xadmin.js"></script>
    <script type="text/javascript" src="/static/js/jquery-3.4.1.min.js"></script>
</head>
<body>
<div class="layui-card-body ">
    <table class="layui-table layui-form">
        <thead>
        <tr>
            <th>编号</th>
            <th>班主任</th>
            <th>请假留言</th>
            <th>申请状态</th>
            <th>请假日期</th>
            <th>请假天数</th>
            <th>申请日期</th>
        </tr>
        </thead>
        <tbody>
        <!--<tr th:each="app:${hshapp}">-->
            <!--<td th:text="${app.appid}">待确认</td>-->
            <!--<td th:text="${app.nickname}">未支付</td>-->
            <!--<td th:text="${app.appnei}">未发货</td>-->
            <!--<td  th:if="${app.apptype==1}">未同意</td>-->
            <!--<td  th:if="${app.apptype==2}">已同意</td>-->
            <!--<td  th:if="${app.apptype==0}">已拒绝</td>-->
            <!--<td th:text="${#dates.format(app.appdate,'yyyy-MM-dd')}">其他方式</td>-->
            <!--<td th:text="${app.appcount}+'天-->
            <!--'">申通物流-->
            <!--</td>-->
            <!--<td th:text="${#dates.format(app.appcrudate,'yyyy-MM-dd')}">其他方式</td>-->
        <!--</tr>-->
        <input hidden class="aid" th:value="${session.aid}">
        </tbody>
        <tbody class="today">
        </tbody>
    </table>
    <center>
        <div class="layui-card-body ">
            <div class="page">
                <div>
                    <a class="prev current" href="javascript:void(0)" onclick="shang1()">&lt;&lt;</a>
                    <a class="num" href="javascript:void(0)" onclick="shou1()">首页</a>
                    <span class="ye current">1/1</span>
                    <a class="num" href="javascript:void(0)" onclick="wei1()">尾页</a>
                    <a class="next current" href="javascript:void(0)" onclick="xia1()">&gt;&gt;</a>
                </div>
            </div>
        </div>
    </center>
</div>
</body>
</html>
<script>
    $(document).ready(function () {
        fenye();
    })
    var pageNum=1;
    var pageSize=5;
    var pageInfo;
    function fenye() {
        $(".today tr").remove();
        var aid=$(".aid").val();
        var json={
            aid:aid,
            pageIndex:pageNum,
            pageSize:pageSize,
        }
        $.post("/student-ccc",json,function (result) {
            console.log(result.data.list)
            pageInfo=result.data;
            $(".ye").text(pageNum+"/"+result.data.pages)
            $.each(result.data.list,function (i,v) {
                var daka="";
                if(v.apptype==1){
                    daka="未同意";
                }else if(v.apptype==2){
                    daka="已同意";
                }else if(v.apptype==3){
                    daka="已过期";
                }else if(v.apptype==0){
                    daka="已拒绝";
                }
                var tr=$(" <tr>\n" +
                    "                    <th>"+v.appid+"</th>\n" +
                    "                    <th>"+v.nickname+"</th>\n" +
                    "                    <th>"+v.appnei+"</th>\n" +
                    "                    <th>"+daka+"</th>\n" +
                    "                    <th>"+v.appdate+"</th>\n" +
                    "                    <th>"+v.appcount+"</th>\n" +
                    "                    <th>"+v.appcrudate+"</th>\n" +
                    "                    </tr>")
                $(".today").append(tr);
            })
        },"json")
    }
    function shou1() {
        if (pageInfo.isFirstPage == false) {
            pageNum = 1;
            fenye();
        }
    }

    function shang1() {
        if (pageInfo.hasPreviousPage) {
            pageNum = pageInfo.prePage;
            fenye();
        }
    }

    function xia1() {
        if (pageInfo.hasNextPage) {
            pageNum = pageInfo.nextPage;
            fenye();
        }
    }

    function wei1() {
        if (pageInfo.isLastPage == false) {
            pageNum = pageInfo.lastPage;
            fenye();
        }
    }
</script>