<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="${ti.getPapername()}"></title>

    <link href="/static/css/stukaoshimain.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/iconfont.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/test.css" rel="stylesheet" type="text/css" />
    <style>
        .hasBeenAnswer {
            background: #5d9cec;
            color:#fff;
        }
    </style>

</head>
<body>
<div class="main">
    <!--nr start-->
    <div class="test_main">
        <div class="nr_left">
            <div class="test">
                <form th:id="kaoshishijuan" action="/tikupanti" method="post">
                    <div class="test_title">
                        <p class="test_time">
                            <i class="icon iconfont">&#xe6fb;</i><b class="alt-1">01:30</b>
                        </p>
                        <font><input type="button" onclick="jiaojuan()" name="test_jiaojuan" value="交卷"></font>
                    </div>

                    <div class="test_content" th:if="${xuanze.size()>0}">
                        <div class="test_content_title">
                            <h2>单选题</h2>
                            <p>
                                <span>共</span><i class="content_lit" th:text="${xuanzeSize}"></i><span>题，</span><span>合计</span><i class="content_fs" th:text="${xuanzeScore}"></i><span>分</span>
                            </p>
                        </div>
                    </div>
                    <div class="test_content_nr"  th:if="${xuanze.size()>0}">
                        <ul>

                            <li   th:each="it : ${xuanze}" th:id="qu_0_+${it.getEid()}">
                                <div class="test_content_nr_tt">
                                    <i th:text="${itStat.index+1}"></i><span>(<a th:text="${it.getEscore()}"></a>分)</span><font th:text="${it.getEname()}"></font>&nbsp;<font>(&nbsp;&nbsp;)</font><b class="icon iconfont">&#xe881;</b>
                                </div>

                                <div class="test_content_nr_main">
                                    <ul>

                                        <li class="option">

                                            <input type="radio" class="radioOrCheck"  th:name="${it.getEid()}"
                                                   th:id="0_answer_1_option_a+${it.eid}" value="a"
                                            />


                                            <label th:for="0_answer_1_option_a+${it.eid}">
                                                A.
                                                <p class="ue" style="display: inline;" th:text="${it.getEa()}"></p>
                                            </label>
                                        </li>

                                        <li class="option">

                                            <input type="radio" class="radioOrCheck" th:name="${it.getEid()}"
                                                   th:id="0_answer_1_option_b+${it.eid}" value="b"
                                            />


                                            <label th:for="0_answer_1_option_b+${it.eid}">
                                                B.
                                                <p class="ue" style="display: inline;" th:text="${it.getEb()}"></p>
                                            </label>
                                        </li>

                                        <li class="option">

                                            <input type="radio" class="radioOrCheck" th:name="${it.getEid()}"
                                                   th:id="0_answer_1_option_c+${it.eid}" value="c"
                                            />


                                            <label th:for="0_answer_1_option_c+${it.eid}">
                                                C.
                                                <p class="ue" style="display: inline;" th:text="${it.getEc()}"></p>
                                            </label>
                                        </li>

                                        <li class="option">

                                            <input type="radio" class="radioOrCheck" th:name="${it.getEid()}"
                                                   th:id="0_answer_1_option_d+${it.eid}" value="d"
                                            />


                                            <label th:for="0_answer_1_option_d+${it.eid}">
                                                D.
                                                <p class="ue" style="display: inline;" th:text="${it.getEd()}"></p>
                                            </label>
                                        </li>


                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="test_content" th:if="${panduan.size()>0}">
                        <div class="test_content_title">
                            <h2>判断题</h2>
                            <p>
                                <span>共</span><i class="content_lit" th:text="${panduanSize}"></i><span>题，</span><span>合计</span><i class="content_fs" th:text="${panduanScore}"></i><span>分</span>
                            </p>
                        </div>
                    </div>
                    <div class="test_content_nr"  th:if="${panduan.size()>0}">
                        <ul>
                            <li th:id="qu_1_+${ti.getEid()}" th:each="ti : ${panduan}">
                                <div class="test_content_nr_tt">
                                    <i th:text="${tiStat.index+1}"></i><span>(<a th:text="${ti.escore}"></a>分)</span><font th:text="${ti.ename}"></font><font>&nbsp;(&nbsp;&nbsp;)</font><b class="icon iconfont">&#xe881;</b>
                                </div>
                                <div class="test_content_nr_main">
                                    <ul>
                                        <li class="option">
                                            <input type="radio" class="radioOrCheck" th:name="${ti.eid}"
                                                   th:id="${tiStat.index}+00" value="a"
                                            />
                                            <label th:for="${tiStat.index}+00">
                                                <!--正确.-->
                                                <p class="ue" style="display: inline;" th:text="${ti.ea}"></p>
                                            </label>
                                        </li>
                                        <li class="option">
                                            <input type="radio" class="radioOrCheck" th:name="${ti.eid}"
                                                   th:id="${tiStat.index}+11" value="b"
                                            />
                                            <label th:for="${tiStat.index}+11">
                                                <!--错误.-->
                                                <p class="ue" style="display: inline;" th:text="${ti.eb}"></p>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

        </div>
        <div class="nr_right">
            <div class="nr_rt_main">
                <div class="rt_nr1">
                    <div class="rt_nr1_title">
                        <h1>
                            <i class="icon iconfont">&#xe692;</i>答题卡
                        </h1>
                        <p class="test_time">
                            <i class="icon iconfont">&#xe6fb;</i><b class="alt-1">01:30</b>
                        </p>
                    </div>

                    <div class="rt_content" th:if="${xuanze.size()>0}">
                        <div class="rt_content_tt">
                            <h2>单选题</h2>
                            <p>
                                <span>共</span><i class="content_lit" th:text="${xuanzeSize}"></i><span>题</span>
                            </p>
                        </div>
                        <div class="rt_content_nr answerSheet">
                            <ul>
                                <li  th:each="x : ${xuanze}"><a th:id="qu_xuan_+${x.getEid()}" th:href="@{'#qu_0_'+${x.getEid()}}" th:text="${xStat.index+1}" th:name="${xStat.index+1}" ></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="rt_content" th:if="${panduan.size()>0}">
                        <div class="rt_content_tt">
                            <h2>判断题</h2>
                            <p>
                                <span>共</span><i class="content_lit" th:text="${panduanSize}"></i><span>题</span>
                            </p>
                        </div>
                        <div class="rt_content_nr answerSheet">
                            <ul >
                                <li th:each="p : ${panduan}"><a th:id="qu_pan_+${p.getEid()}" th:href="@{'#qu_1_'+${p.getEid()}}" th:text="${pStat.index+1}" th:name="${pStat.index+1}" ></a></li>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <!--nr end-->
    <div class="foot"></div>
</div>

<script src="/static/js/jquery-1.11.3.min.js"></script>
<script src="/static/js/jquery.easy-pie-chart.js"></script>
<!--时间js-->
<script src="/static/js/jquery.countdown.js"></script>
<script type="text/javascript">
    function jiaojuan() {/*1,填空; 2,判断 ;3,单选; 4,多选;5,问答*/
        /*alert("准备提交")*/
        $.post("/tikushijuantijiao",function (result) {
            panduan="";
            xuanze="";
            $.each(result.data,function (index,i) {
                if(i.etype==2){/*href="#qu_1_19"*/
                    var pan=$("#qu_pan_"+i.eid).attr("class");
                    console.log(pan)
                    if(typeof(pan)=="undefined"){
                        var zhi=$("#qu_pan_"+i.eid).attr("name");
                        panduan+=zhi+",";
                    }
                }else if(i.etype==3){/*href="#qu_0_24"*/
                    var xuan=$("#qu_xuan_"+i.eid).attr("class");
                    console.log(xuan)
                    if(typeof(xuan)=="undefined"){
                        var zhi=$("#qu_xuan_"+i.eid).attr("name");
                        xuanze+=zhi+",";
                    }
                }
            })
            /*alert("选择"+xuanze)
            alert("判断"+panduan)*/
            if(panduan!=""&&xuanze!=""){
                var flag=confirm("您选择题:"+xuanze+"和判断题"+panduan+"还没有做确定提交吗");
                if(flag){
                    alert("提交成功")
                    $("#kaoshishijuan").submit();
                }
            }else if(panduan!=""){
                var flag=confirm("您判断题"+panduan+"还没有做确定提交吗");
                if(flag){
                    alert("提交成功")
                    $("#kaoshishijuan").submit();
                }
            }else if(xuanze!=""){
                var flag=confirm("您选择题:"+xuanze+"还没有做确定提交吗");
                if(flag){
                    alert("提交成功")
                    $("#kaoshishijuan").submit();
                }
            }else if(xuanze==""&&panduan==""){
                alert("提交成功")
                $("#kaoshishijuan").submit();
            }


        },"json")
    }
</script>
<script>
    window.jQuery(function($) {
        "use strict";

        $('time').countDown({
            with_separators : false
        });
        $('.alt-1').countDown({
            css_class : 'countdown-alt-1'
        });
        $('.alt-2').countDown({
            css_class : 'countdown-alt-2'
        });

    });


    $(function() {
        $('li.option label').click(function() {
            debugger;
            var examId = $(this).closest('.test_content_nr_main').closest('li').attr('id'); // 得到题目ID
            var cardLi = $('a[href=#' + examId + ']'); // 根据题目ID找到对应答题卡
            // 设置已答题
            if(!cardLi.hasClass('hasBeenAnswer')){
                cardLi.addClass('hasBeenAnswer');
            }

        });
    });
</script>

</body>
</html>
