<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/xadmin.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/xadmin.js"></script>
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
</head>
<body>
<div class="layui-card-body">
   班级名称： <input type="text" name="gname" class="layui-input name" onblur="yichu()" style="width: 20%;display: inline-block">
    任课教员：<select style="width: 200px;display: inline-block;" class="form-control jiao"  name="banji">
            <option value="0">请选择任课教员</option>
            </select>
    <button class="layui-btn " onclick="add()" style="margin-left: 20px;">添加</button>
    <table class="layui-table layui-form table-a">
        <tr>
            <th>ID</th>
            <th>班级名称</th>
            <th>总人数</th>
            <th>操作</th>
    </table>
</div>
</body>
</html>
<script>
    var bo=false;
    function add() {
        var name=$(".name").val();
        var accid=$(".jiao").val();
        var json={
            "grade":name,
            "accid":accid
        }
        if(name==""){
            alert("请输入班级名称");
            return;
        }
        if(accid==0){
            alert("请选择任课教员");
            return;
        }
        if(bo){
            $.post("/doaddgrade",json,function (result) {
                if(result.addgradeuser>0){
                    alert("添加成功")
                    cha();
                }else {
                    alert("添加失败")
                }
            })
        }else {
            alert("该班级已存在")
        }
    }
    function cha() {
        $(".table-a tr:gt(0)").remove();
        $.ajax({
            type:"GET",
            url:"/hshsel2",
            dataType:"json",
            success:function (data) {
                $.each(data.selsum,function (i,v) {
                    var $tr=$("<tr><td>"+(i+1)+"</td><td hidden>"+v.gradeid+"</td><td>"+v.gname+"</td><td>"+v.personsum+"</td><td><button class='layui-btn layui-btn-normal layui-btn-mini cha '>查询</button></td></tr>");
                    $(".table-a").append($tr);
                })
                $(".cha").click(function () {
                    var id = $(this).parent().prev().prev().prev().text();
                    location.href="/chuangid?id="+id+"";
                })
            }
        })
    }
    $(document).ready(function () {
       cha();
       $.post("/lvSelJiao",function (result) {
          console.log(result.data)
           $.each(result.data,function (i,v) {
                var $op=$("<option value='"+v.accid+"'>"+v.nickname+"</option>");
                $(".jiao").append($op);
           })
       },"json");
    })

    function yichu() {
        var name=$(".name").val();
           var json={
               "grade":name
           }
           $.post("/doselgradename",json,function (result) {
              if(result.grades>0){
                  alert("该班级已存在")
                  bo=false;
              }else {
                  bo=true;
              }
           })
    }
</script>
