<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>学生管理系统</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="stylesheet" href="../static/css/font.css">
    <link rel="stylesheet" href="../static/css/xadmin.css">
    <!-- <link rel="stylesheet" href="./css/theme5.css"> -->
    <script src="../static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../static/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]-->
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <!--[endif]-->
    <script>
        // 是否开启刷新记忆tab功能
         var is_remember = false;
    </script>
</head>
<body class="index">
<!-- 顶部开始 -->
<div class="container">
    <div class="logo">
        <a href="./index.html">欢迎<span th:text="${session.username}"></span>
            <span th:if="${session.Position.getPid()==1}">同学</span>
            <span th:if="${session.Position.getPid()==2}">教员</span>
        </a></div>
    <div class="left_open">
        <a><i title="展开左侧栏" class="iconfont">&#xe699;</i></a>
    </div>
    <ul class="layui-nav left ">
        <li class="layui-nav-item">
            <a onclick="xadmin.add_tab('聊天','/tochitchat')"><img src="/static/images/wei.ico" width="60%" height="60%"></a>
        </li>
        <button th:if="${session.Position.getPid()==1}"  data-method="offset" data-type="auto" class="layui-btn layui-btn-normal" onclick="qiandao()">签到
        </button>
        <a th:if="${session.Position.getPid()==1}" data-method="offset" data-type="auto" class="layui-btn layui-btn-normal"
           onclick="xadmin.open('请假','/toqingjia',500,500)">请假</a>
        <button th:if="${session.Position.getPid()==1}" data-method="offset" data-type="auto" class="layui-btn layui-btn-normal" onclick="qiantui()">签退
        </button>
        <a th:if="${session.Position.getPid()==3}" href="javaScript:void(0)" onclick="xadmin.add_tab('请假申请','/teacher-k')" style="margin-left: 5px;font-size: 20px;position:fixed; margin-top: 7px">🔔
            <div th:if="${session.Position.getPid()==3}" class="divshu" style="width: 15px;height:15px;background-color:#222;text-align: center;
            position:absolute;margin-top: -15px;margin-left: 10px;border-radius:50%;
            ">1</div>
        </a>
    </ul>
    <ul class="layui-nav right" lay-filter="">
        <li class="layui-nav-item">
            <a href="javascript:;" th:text="${session.username}"></a>
            <dl class="layui-nav-child">
                <!-- 二级菜单 -->
                <dd>
                    <a onclick="xadmin.open('个人信息','/xiugai2',1000,600)">个人信息</a></dd>
                <dd>
                    <a href="/lvTui">退出</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item to-index">
            <a href="/">前台首页</a></li>
    </ul>
</div>
<!-- 顶部结束 -->
<!-- 中部开始 -->
<!-- 左侧菜单开始 -->
<div class="left-nav">
    <div id="side-nav">
        <ul id="nav">
            <li th:if="${session.Position.getPid()==1}">
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="学习任务">&#xe6b8;</i>
                    <cite>学生任务</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('查看作业','/selzuoye')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>查看作业</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('试题题库','/stukaoshi')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>试题题库</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('班级测试','/banjiceshi')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>班级测试</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('查看考勤','/stucalendar')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>查看考勤</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('我的请假','/student-c')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>我的请假</cite></a>
                    </li>
                </ul>
            </li>
            <li th:if="${session.Position.getPid()==3}">
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="班主任管理">&#xe726;</i>
                    <cite>班主任管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('班级列表','/head-teacher')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>班级列表</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('查看考勤','/kao-teacher')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>查看考勤</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('请假申请','/teacher-k')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>请假申请</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('作息时间','/toTeacherChaZuoYeXiShiJian')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>作息时间</cite></a>
                    </li>
                </ul>
            </li>
            <li th:if="${session.Position.getPid()==2}">
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="教员管理">&#xe726;</i>
                    <cite>教员管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('数据统计','/toshujutongji')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>数据统计</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('发布作业','/tofabuzuoye')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>发布作业</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('试题中心','/toshitizhongxin')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>试题中心</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('发布考试','/toteacherBuZhi')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>发布考试</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('作业统计','/toHomeWorkTiJiaoQingKuang')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>作业统计</cite></a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- 左侧菜单结束 -->
<!-- 右侧主体开始 -->
<div class="page-content-bg"></div>

<div class="page-content">
    <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
        <ul class="layui-tab-title zuo">
            <li class="home">
                <i class="layui-icon">&#xe68e;</i>我的桌面
            </li>
        </ul>
        <div class="layui-unselect layui-form-select layui-form-selected" id="tab_right">
            <dl>
                <dd data-type="this">关闭当前</dd>
                <dd data-type="other">关闭其它</dd>
                <dd data-type="all">关闭全部</dd>
            </dl>
        </div>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <iframe src='/toWeather' frameborder="0" scrolling="yes" class="x-iframe"></iframe>
            </div>
        </div>
        <div id="tab_show"></div>
    </div>
</div>
<script src="../static/js/jquery-3.4.1.min.js"></script>
<style id="theme_style"></style>
<script>
    $(function () {
        $(".zuo li:gt(1)").remove();
        jian();
    })
    function xun() {
        time = setInterval(function getoList() {
            jian();
        }, 3000);
    }
    function jian() {
        $.post("/lvSelShen",function (result) {
            $(".divshu").text(result.data);
        },"json")
    }
    function qiandao() {
        $.post("/qiandao", function (result) {
            if (result.yi == "今天已签到") {
                alert("今天已经签到过了孩子!");
                return false;
            }
            if (result.qian == "签到成功") {
                alert("签到成功");
            } else {
                alert("签到成功,但是你迟到了!");
            }
        }, "json")
    }

    function qiantui() {
        var newDate=new Date();
        var qiantui="";
        $.ajax({
                "url": "/tuitime",
                "type": "POST",
                "dataType": "json",
                "async": false,
                success: function (times) {
                    qiantui=times.tuitime;
                    console.log(times.tuitime)
                }
            }
        )
        var bo=false;
        if (newDate.getHours()<parseInt(qiantui.substring(0,2))){
            bo=true;
        }else if (newDate.getHours()==parseInt(qiantui.substring(0,2))){
            if(newDate.getMinutes()<parseInt(qiantui.substring(3,5))){
                bo=true;
            }
        }else{
            bo=false;
        }
        if (bo){
            if (confirm("当前时间未到签退时间,确认要打卡嘛")){
                qiantui2();
            }
        }else{
            qiantui2();
        }


    }
    function qiantui2() {
        $.post("/qiantui", function (result) {
            if (result.yi == "今天已签退") {
                alert("今天已经签退过了孩子!");
                return false;
            }
            if (result.qian == "考勤成功") {
                alert("签退成功");
            } else if(result.qian=="早退"){
                alert("当前未到签退时间,确定要早退吗?");

            }
        }, "json")
    }
</script>
<!-- 右侧主体结束 -->
<!-- 中部结束 -->
<script>//百度统计可去掉
var _hmt = _hmt || [];
(function () {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
})();</script>
</body>
</html>