<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>做题历史记录</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/xadmin.css">
    <script src="/static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/xadmin.js"></script>
    <script type="text/javascript" src="/static/js/jquery-3.4.1.min.js"></script>
</head>

<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <table class="layui-table layui-form" id="mytable">
                        <thead>
                        <tr style="text-align: center">
                            <th>试题名称</th>
                            <th>成绩</th>
                            <th>对题数</th>
                            <th>错题数</th>
                            <th>做题时间</th>
                            <th>操作</th></tr>
                        </thead>
                    </table>
                </div>
                <div class="layui-card-body ">
                    <div class="page">
                        <div>
                            <a class="num" href="javascript:void(0)" onclick="shou()">首页</a>
                            <a class="prev" href="javascript:void(0)" onclick="shang()">&lt;&lt;</a>
                            <span class="current ye">2</span>
                            <a class="next" href="javascript:void(0)" onclick="xia()">&gt;&gt;</a>
                            <a class="num" href="javascript:void(0)" onclick="wei()">尾页</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    var pageInfo;
    var pageNum = 1;
    var pageSize = 2;
    var mo;

    function shou() {
        if (pageInfo.isFirstPage == false) {
            pageNum=1;
            aj();
        }
    }

    function shang() {
        if(pageInfo.hasPreviousPage){
            pageNum=pageInfo.prePage;
            aj();
        }
    }

    function xia() {
        if(pageInfo.hasNextPage){
            pageNum=pageInfo.nextPage;
            aj();
        }
    }

    function wei() {
        if(pageInfo.isLastPage==false){
            pageNum=pageInfo.lastPage;
            aj();
        }
    }

    function aj() {
        $(".bian").remove();
        mo = $(".title").val();
        var json = {
            pageNum: pageNum,
            pageSize: pageSize,
            mo: mo
        }
        $.ajax({
            url: "/chaDoWorkHistoryChuanZhi",
            type: "POST",
            data: json,
            dataType: "json",
            success: function (result) {
                    $(".ye").text(result.data.pageNum+"/"+result.data.pages);
                    $(".bian").remove();
                    pageInfo = result.data;
                    $.each(result.data.list, function (index, i) {
                        var $tr = $("<tbody class='bian'>\n" +
                            "                        <tr style=\"text-align: center\">\n" +
                            "                            <td>"+i.examPaper.papername+"</td>\n" +
                            "                            <td>"+i.score+"</td>\n" +
                            "                            <td>"+i.rights+"</td>\n" +
                            "                            <td>"+i.errors+"</td>\n" +
                            "                            <th>"+i.subtime+"</th>\n" +
                            "                            <td class=\"td-manage\">\n" +
                            "                                <button id='da\" + v.paperid + \"' onclick='jiexi(" + i.paperid + ")'  class='btn layui-btn '>查看解析</button>" +
                            "                            </td>\n" +
                            "                        </tr>\n" +
                            "                        </tbody>");
                        $("#mytable").append($tr);
                    })
            }
        })
    }
    $(function () {
        aj();
    })
    function jiexi(id) {
        xadmin.open('做题历史记录', "/chajiexi?id=" + id, 1000, 600)
    }
</script>








<script>layui.use(['laydate', 'form'],
    function() {
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#end' //指定元素
        });
    });

/*用户-停用*/
function member_stop(obj, id) {
    layer.confirm('确认要停用吗？',
        function(index) {

            if ($(obj).attr('title') == '启用') {

                //发异步把用户状态进行更改
                $(obj).attr('title', '停用');
                $(obj).find('i').html('&#xe62f;');

                $(obj).parents("tr").find(".td-status").find('span').addClass('layui-btn-disabled').html('已停用');
                layer.msg('已停用!', {
                    icon: 5,
                    time: 1000
                });

            } else {
                $(obj).attr('title', '启用');
                $(obj).find('i').html('&#xe601;');

                $(obj).parents("tr").find(".td-status").find('span').removeClass('layui-btn-disabled').html('已启用');
                layer.msg('已启用!', {
                    icon: 5,
                    time: 1000
                });
            }

        });
}

/*用户-删除*/
function member_del(obj, id) {
    layer.confirm('确认要删除吗？',
        function(index) {
            //发异步删除数据
            $(obj).parents("tr").remove();
            layer.msg('已删除!', {
                icon: 1,
                time: 1000
            });
        });
}

function delAll(argument) {

    var data = tableCheck.getData();

    layer.confirm('确认要删除吗？' + data,
        function(index) {
            //捉到所有被选中的，发异步进行删除
            layer.msg('删除成功', {
                icon: 1
            });
            $(".layui-form-checked").not('.header').parents('tr').remove();
        });
}</script>

</html>